[Unit]
Description = Web Scraper to look for GPUs
After = network.target # Assuming you want to start after network interfaces are made available
 
[Service]
Type = simple
ExecStart = python3 ~/python-gpu-finder/web-scraper.py --seconds 30
User = pi# User to run the script as
Group = # Group to run the script as
Restart = on-failure # Restart when there are errors
SyslogIdentifier = GpuScrapeLogs
RestartSec = 5
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target # Make it accessible to other users